@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Fascinate+Inline&family=Italiana&family=Leckerli+One&family=Pinyon+Script&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: rgb(241, 203, 246);
}

#straw-nut {
    background: darkred;
    color:rgba(131, 95, 80, 0.941);
    font-family:"Fascinate Inline", system-ui;
    font-size: 30px;
    border: 10px, dotted, white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

h1 {
    color:rgb(209, 121, 177);
    text-align: center;
    font-family: "Pinyon Script", cursive;


}
h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    text-shadow: 2px 2px 10px rgba(9, 1, 1, 0.946);
    
}
.red {
    background-color: darkred;
    color: rgba(131, 95, 80, 0.941);
    font-family: "Fascinate Inline", system-ui;
    font-size: 30px;
    border: 10px, dotted, white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}
h2 {
    font-family: "Leckerli One", cursive;
    color: white;
    text-align: center;
    border: 10px, rgb(198, 138, 175), dashed;
    border-radius: 30px;
    box-shadow:2px 2px 10px rgba(9, 1, 1, 0.946);
}
#centered {
    border-radius: 12px;
    border: 10px, double, darkred;
    text-align: center;
}
#centered-2 {
    border-radius: 12px;
    border: 10px, double, lightyellow;
    text-align: center;
}
.yellow {
    background: rgba(237, 185, 53, 0.657);
    color: lightyellow;
    font-family: "Fascinate Inline", system-ui;
    font-size: 30px;
    border: 10px, dotted, white;
     border-radius: 20px;
     padding: 40px;
     text-align: center;

}
.ramen {
    background: rgb(221, 146, 6);
    color: rgb(253, 187, 113);
    font-family: "Fascinate Inline", system-ui;
    font-size: 30px;
     border: 10px, dotted, white;
     border-radius: 20px;
     padding: 40px;
     text-align: center;

}
#centered-3 {
    border-radius: 12px;
    border: 10px, double, rgb(253, 187, 113);

    
}
.img-center {
    text-align: center;
    
    padding: 5px;
    margin: auto;
}
a {
    color:rgb(180, 99, 156);
    text-decoration: double;
    font-weight: bold;
    font-size: 20px;
    background:linear-gradient(to top, hsl(297, 96%, 91%) 0%, rgb(220, 164, 216) 100%);
    border-radius: 15px;
    border: 2px dashed;
    padding: 5px;
    box-shadow:2px 2px 10px rgba(9, 1, 1, 0.946);
}
.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#background {
    background: darkred;
}
#background-2 {
    background: rgba(237, 185, 53, 0.657);
}
#background-3 {
    background: rgb(221, 146, 6);
}
ol {
    box-shadow:2px 2px 10px rgba(9, 1, 1, 0.946);
}
ul {
    box-shadow:2px 2px 10px rgba(9, 1, 1, 0.946);
}
p {
    box-shadow:2px 2px 10px rgba(9, 1, 1, 0.946);
}
img {
    box-shadow: 2px 2px 10px rgba(9, 1, 1, 0.946);
}
hr {
    border: 5px, dashed, white;

}

