@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Fascinate+Inline&family=Italiana&family=Leckerli+One&family=Pinyon+Script&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: rgb(241, 203, 246);
}

#straw-nut {
    background: darkred;
    color:rgba(131, 95, 80, 0.941);
    font-family:"Fascinate Inline", system-ui;
    font-size: 30px;
    border: 10px, dotted, white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

h1 {
    color:rgb(209, 121, 177);
    text-align: center;

}
h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}
.red {
    background-color: darkred;
    color: rgba(131, 95, 80, 0.941);
    font-family: "Fascinate Inline", system-ui;
    font-size: 30px;
    border: 10px, dotted, white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}
h2 {
    font-family: "Leckerli One", cursive;
    color: white;
    text-align: center;
}
#centered {
    border-radius: 12px;
    border: 10px, double, darkred;
    text-align: center;
}
#centered-2 {
    border-radius: 12px;
    border: 10px, double, lightyellow;
    text-align: center;
}
.yellow {
    background: rgba(237, 185, 53, 0.657);
    color: lightyellow;
    font-family: "Fascinate Inline", system-ui;
    font-size: 30px;
    border: 10px, dotted, white;
     border-radius: 20px;

}


